# Lambda Function/Anonymous Functions: A function without a function name.

In [1]:
# Normal function
def display(): # function name is display
  print("Hello")

In [2]:
display()
display()
display()

Hello
Hello
Hello

## Conclusion: We can call normal function any no of times we want. But Lambda function is used instantly for single time.

In [3]:
def display(num):
  x=num+num
  y=num-num
  z=num*num

# Conclusion: Normal function can have any no of lines. But lambda function is written in a single line.

In [4]:
def add(x,y):
  return (x+y)

In [5]:
print(add(10,5))

15

Syntax to create a normal function:
- keyword(def) function_name(parameters): return value

Syntax to create lambda function:
- keyword(lambda) parameters: return value

In [7]:
# Lambda function to add 2 numbers:
output=lambda x,y: x+y

In [8]:
print(output(2,5))

7

In [9]:
(lambda x,y:x-y)(2,3)

-1

Q. Write a program to return max of two numbers using lambda function?

In [10]:
max=lambda x,y: x if x>y else y

In [11]:
max(2,3)

3

In [12]:
max(-1,0)

0

Q. Write a program to return even or odd number using lambda function?

In [13]:
x=lambda num: "Even Number" if num%2==0 else "Odd Number"
x(7)

'Odd Number'

#### filter( ), map( ), reduce( ) in Python.

##### filter( ) --> filter the list and give the some output that we need wrt to condition
##### map( ) --> [1,2,3,4,5] => [1,4,9,16,25](complete list returned again)
##### reduce( ) --> [1,2,3,4,5,6,7] => Finally single output

# filter( )

In [15]:
lst1=[1,2,3,4,5,6,7,8,9]
even=[]
for value in lst1:
  if value%2==0:
    even.append(value)
print(even)

[2, 4, 6, 8]

In [16]:
lst2=[1,2,3,4,5,6,7,8,9]

op=filter(lambda x: x%2==0,lst2) # 1st parameter -> function, 2nd parameter -> iterable object
print(op)

<filter object at 0x7c3a6f551c60>

In [17]:
print(list(op))

[2, 4, 6, 8]

In [18]:
names =['Vamsi','Ram','Charan','','','Ravi','']
# filter function iterates the entire list and return the output wrt condition(true)
output2=list(filter(lambda x: x!='',names))
print(output2)

['Vamsi', 'Ram', 'Charan', 'Ravi']

# map( )

In [23]:
# map()
tuple=(1,2,3,4,5,6,7,8,9,10)
print(list(map(lambda x:x**2,tuple)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [25]:
list1=[1,2,3,4,5,6,7,8,9,10]
list2=[1,2,3,4,5,6,7,8,9,10]
print(list(map(lambda x,y:x+y,list1,list2)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# reduce( ) -> accepts min 2 parameters

In [26]:
from functools import reduce

In [27]:
set1={1,2,3,4,5,6,7,8,9,10}
print(reduce(lambda x,y:x+y,set1)) # gives single output

55

#####Write a Python program to remove specific words from a given list using lambda.
#####Original list:
#####['orange', 'red', 'green', 'blue', 'white', 'black']
#####Remove words:
#####['orange', 'black']
#####After removing the specified words from the said list:
#####['red', 'green', 'blue', 'white']

In [30]:
def remove_words(list3,remove_words):
  result=list(filter(lambda x: x not in remove_words,list3))
  return result

print(remove_words(['orange', 'red', 'green', 'blue', 'white', 'black'],['orange', 'black']))

['red', 'green', 'blue', 'white']

###### For practice: https://www.w3resource.com/python-exercises/lambda/index.php